@font-face {
	font-family: "Avant";
	src: url(fonts/AVANTN.ttf);
}

.body {
	background-color: #ccd7ca;
}

.navbar {
	background-color: rgba(0, 0, 0, 0);
	z-index: 20;
}

.navbar-toggler {
	z-index: 30;
}

.slider {
	position: relative;
	top: -70px;
}

.page_top {
	border: 15px solid white;
}

a.nav-link {
	color: black;
	font-family: 'Avant';
	font-size: 9pt;
	letter-spacing: 3pt;
}

a.navbar-brand {
	color: black;
	letter-spacing: 2pt;
}

.nav-link:hover, .nav-brand:hover {
	color: #446e2f;
}

.sub-item {
	border: 1px solid black;
}

.nav-item {
	margin: 0px 10px 0px 10px;
	float: right;
}

.navbar-nav {
  float: right !important;
}

h1.slide_title {
	font-weight: normal;
	letter-spacing: 3pt;
	font-size: 5em;
}

.slide_title, .slide_content {
	color: black;
}

hr {
	width: 50px;
	height: 3px;
	background-color: #212121;
}

.carousel-item {
	height: 600px;
}

.carousel-item img {
	height: 100%;
	width: 100%;
}

.row div {
	padding: 0px;
}

.card {
	margin: 20px;
}

.card .card-body {
	padding: 15px;
}

.card .card-body p {
	font-family: Avant;
}

.media {
	background-color: white;
	clear: right;
}

.media img {
	height: 600px;
	width: 600px;
}

.media h4 {
	text-align: center;
	letter-spacing: 1pt;
}

.media p {
	text-align: justify;
	/*text-align-last: center;*/
	line-height: 2em;
	font-weight: normal;
	padding: 40px 100px;
}

.footer-nav ul {
	list-style-type: none;
}

.footer-nav ul li {
	float: right;
	margin: 30px;
}

a.foot-link {
	color: black;
	font-family: 'Avant';
	font-size: 9pt;
	letter-spacing: 3pt;
}

a.foot-link:hover {
	color: #446e2f;
	text-decoration: none;
}